/**======================
 *    HEADER
 *========================**/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #fff;
}

#header-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  max-width: 1240px;
  max-height: 120px;
}

/**======================
 *    HEADER - CategoryBtn
 *========================**/
#category-btn {
  cursor: pointer;
  width: 60px;
  height: 60px;
  margin: 30px 0px 30px 12px;
  background-color: white;
  border: #f5f5f5;
  border-radius: 100%;
  box-shadow: 0px 2px 3px 0px;
}

#category-btn > img {
  max-width: 25px;
  max-height: 25px;
}

#category-btn:hover {
  background-color: #f5f5f5;
}

/**======================
 *    HEADER - CategoryList
 *========================**/
.category-container {
  position: fixed;
  top: 0;
  left: -300px;
  z-index: 300;
  width: 300px;
  height: 100%;
  background-color: #f5f5f5;
  font-size: 20px;
  transition: left 0.5s;
}

.category-container-clicked {
  left: 0;
}

.category-container > .category-title {
  display: grid;
  grid-template-columns: 80% 20%;

  height: 80px;
  width: 100%;

  font-size: 30px;
  font-weight: 500;
  color: black;
  background-color: #fff;
}

.category-container > .category-title > span {
  margin: 20px 20px;
}
.category-container > .category-title > button {
  cursor: pointer;
  border-style: none;
  background-color: #fff;
}

.category-container > .category-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 70px;

  font-size: 20px;
  font-weight: 600;
  line-height: 50px;

  border-bottom: 1px #f5f5f5 solid;
  background-color: #fff;
}

.category-container > .category-item > a {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  text-decoration: none;
  width: 100%;
  margin: 10px 0px 10px 30px;
  color: black;
}

.category-container > .category-item > a > img:first-child {
  width: 30px;
  height: 30px;
  margin-top: 10px;
}

.category-container > .category-item > a > img:last-child {
  width: 30px;
  height: 30px;
  margin-top: 10px;
}

.category-container > .category-item:hover {
  background-color: #f5f5f5;
}

.box-none {
  display: none;
}

/**======================
 *    HEADER - Logo
 *========================**/

.header-logo {
  cursor: pointer;
  margin-left: 15px;
  margin-top: 39px;
  font-size: 36px;
  font-weight: 400px;
}

/**======================
 *    HEADER - SearchBar
 *========================**/
#search-container {
  display: flex;
  width: 510px;
  height: 50px;
  margin: 36px 0px 34px 20px;
  border: #bebebe solid 1px;
  border-radius: 30px;
  background-color: #f5f5f5;
}

#search-container > .input {
  flex: 8.8;
  outline: none;
  height: 100%;
  border: none;
  border-radius: 30px 0px 0px 30px;
  font-size: 20px;
}

.search-btn > .input:focus {
  outline: none;
}

#search-container .search-btn {
  cursor: pointer;
  flex: 1.2;
  border-radius: 0px 30px 30px 0px;
}

.search-btn > img {
  width: 40px;
  height: 40px;
  margin-top: 5px;
  margin-left: 5px;
}

/**======================
 *    HEADER - User, Cart
 *========================**/
#button-container {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

#button-container button {
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin-right: 35px;
  border: none;
  align-self: center;
  background-color: #fff;
}

/**======================
 *          NAV
 *========================**/
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nav-container {
  display: flex;
  justify-content: space-between;

  width: 100vw;
  height: 100vh;
  max-width: 1240px;
  max-height: 60px;

  border-top: 1px solid #f5f5f5;
  box-shadow: 0 3px 3px -3px #bebebe;
  font-size: 15px;
  font-weight: 600;
  color: black;
}

.nav-container div {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 50px 0 50px;
}

.nav-container div:first-child {
  font-size: 20px;
}
