footer {
    width: 100%;
}

.sites{
    width: 1240px;
    margin: 0 auto;
}

#footer-title-container{
    /*border-color: red;
    border-top:1px;
    border-style: solid;*/
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid black;
    border-bottom:1px solid black;
}

#footer-title-container > div > p{
    font-size:14px;
    font-family: "Noto Sans KR", "Helvetica Neue", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", 돋움, dotum, sans-serif;
}

#site-description{
    /*border-color: blue;
    border-top:1px;
    border-style: solid;*/
    padding:30px;
    display:flex;
    justify-content:center;
    align-items:center;
}

#footer-main{
    /*border-color: green;
    border-top:1px;
    border-style: solid;*/
    padding:0 50px;

}

#footer-main > p{
    font-size:12px;
    font-family: "Noto Sans KR", "Helvetica Neue", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", 돋움, dotum, sans-serif;
}

#footer-image-container{
    /*border-color: black;
    border-top:1px;
    border-style: solid;*/
    display:flex;
    align-items:center;
}

#footer-sub{
    padding:0 50px;
}

#footer-sub > p{
    font-size:12px;
    font-family: "Noto Sans KR", "Helvetica Neue", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", 돋움, dotum, sans-serif;
}
.footer-image{
    padding-top: 20px;
}
