@import url('../../commonCss/reset.css');

/**======================
*         COMMON
*========================**/
body {
  background-color: #f4f4f4;
}

/**======================
*      CART HEADER
*========================**/
.cart-header-container {
  padding-top: 30px;
  background-color: #fff;
}
/* 왼쪽 */
.cart-header {
  display: flex;
  width: 1240px;
  margin: 0 auto;
  height: 30px;
  padding: 31px 0 24px 0;
  justify-content: space-between;
  align-items: center;
}
.cart-header-title {
  font-size: 32px;
  font-weight: bold;
}
.bi-apple {
  margin-left: 5px;
}
.cart-header-title h1 span {
  font-size: 18px;
  font-weight: bold;
  margin-left: -5px;
}
/* 오른쪽 */
.cart-process {
  display: flex;
  gap: 8px;
  color: #777;
  font-size: 14px;
  font-weight: bold;
}
.cart-process-now {
  color: black;
}

/**======================
*    SHIPPING ADDRESS
*========================**/
.shipping-address-container {
  display: flex;
  width: 1240px;
  margin: 0 auto;
  justify-content: space-between;
  height: 25px;
  padding: 13px 13px;
  margin-bottom: 16px;
  background-color: #fcfcfc;
  border-radius: 4px;
}
.user-shipping-address {
  display: flex;
  align-items: center;
}
.shipping-destination {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  padding-left: 4px;
  padding-top: 4px;
}
.shipping-address {
  font-size: 15px;
  padding-left: 12px;
  padding-top: 4px;
  color: #777777;
}
.shipping-ment {
  font-size: 14px;
  padding-top: 5px;
  color: #777777;
}
.cart-line {
  border-bottom: 1px solid #ddd;
}

/**======================
 *  SELECT ALL & DELETE
 *========================**/
.select-all-outer-container {
  display: flex;
  justify-content: space-between;
  width: 1240px;
  margin: 0 auto;
  margin-bottom: 30px;
  height: 34px;
  padding: 15px 0;
}
.select-all-left-container {
  display: flex;
  align-items: center;
}
.select-all-right-container {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 7px;
  color: #444444;
  border: 1px solid #444444;
  border-radius: 4px;
}
.select-all-left-container > p {
  padding-left: 14px;
  padding-top: 4px;
  color: #222222;
  font-size: 18px;
  font-weight: bold;
}
.select-all-right-container > p {
  padding: 2px 7px 0 2px;
}

/**======================
 *         MAIN
 *========================**/
.main {
  width: 1240px;
  margin: 0 auto;
  border-radius: 18px;
  background-color: #fff;
  margin-bottom: 30px;
}

/**======================
*      CART ITEMS
*========================**/
/* 상품 셀러 */
.cart-products-container {
  width: 1160px;
  margin: 0 auto;
}
.cart-product-seller {
  display: flex;
  height: 27px;
  padding-top: 30px;
  padding-bottom: 18px;
}
.cart-product-seller > p {
  padding-left: 14px;
  padding-top: 5px;
  font-size: 20px;
  font-weight: bold;
}
.cart-product-seller > .bi-house-door-fill {
  padding-left: 5px;
  color: #ff1463;
}

/* 중간선 */
.product-line {
  width: 100%;
  border: 1px solid #aaa;
}

/* 상품 내용 */
.cart-product-info-container {
  display: grid;
  grid-template-columns: 170px 450px 180px 180px 180px;
  grid-template-rows: 200px;
  justify-items: center;
  align-items: center;
  border-bottom: 1px solid #ddd;
}
.cart-product-image {
  width: 170px;
  height: 160px;
  padding-top: 40px;
  text-align: center;
  border-right: 1px solid #ddd;
}
.cart-product-image img {
  width: 105px;
  height: 105px;
  border-radius: 6px;
}
.cart-product-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 390px;
  height: 160px;
  padding: 40px 30px 2px 30px;
  border-right: 1px solid #ddd;
}
.cart-product-name {
  padding-top: 2px;
  font-size: 15px;
  /* 2줄일때 36px이 자연스러웠음 */
  /* height: 36px; */
  margin-bottom: 2px;
  font-weight: bold;
}
.cart-product-options {
  font-size: 12px;
  color: #777777;
  margin-bottom: 15px;
}
.cart-product-quantity-container {
  display: flex;
  align-items: center;
  gap: 8px;
}
.cart-product-quantity-minus {
  font-size: 18px;
}
.cart-product-quantity-plus {
  font-size: 16px;
}
.cart-product-quantity {
  font-size: 18px;
}
.cart-product-rental-period {
  width: 180px;
  height: 120px;
  padding-top: 80px;
  text-align: center;
  border-right: 1px solid #ddd;
}
.cart-product-rental-period-1 {
  font-size: 14px;
  margin-bottom: 10px;
}
.cart-product-rental-period-2 {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
.cart-product-price {
  width: 180px;
  height: 120px;
  padding-top: 80px;
  text-align: center;
  border-right: 1px solid #ddd;
}
.cart-product-price-1 {
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
}
.cart-product-price-2 {
  font-size: 16px;
  font-weight: bold;
}
.cart-product-delivery-fee {
  width: 182px;
  height: 122px;
  padding-top: 80px;
  text-align: center;
  border-right: 1px solid #ddd;
}
.cart-product-delivery-fee-1 {
  font-size: 14px;
  margin-bottom: 10px;
}
.cart-product-delivery-fee-2 {
  font-size: 16px;
  font-weight: bold;
}

/**======================
 *   PRODUCT PRICE INFO
 *========================**/
.cart-product-price-info-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.cart-product-price-info-left {
  display: flex;
  gap: 25px;
  padding: 30px 20px 30px 0;
  border-right: 1px solid #eee;
}
.cart-product-price-info-right {
  display: flex;
  padding: 30px 0;
  align-items: center;
  font-size: 16px;
  gap: 40px;
}
.cart-product-price-info-left-1,
.cart-product-price-info-left-2 {
  font-size: 16px;
  font-weight: 700;
  color: #333;
  text-align: center;
  line-height: 1.5;
}
.cart-product-price-info-left-1 {
  padding-top: 9px;
}
.discounted-price {
  color: #ff0456;
}
.plus-minus {
  display: flex;
  font-size: 20px;
  align-items: center;
  text-align: center;
  padding-top: 7px;
}
.cart-product-final-price {
  display: flex;
  gap: 10px;
  padding-top: 2px;
}
.final-price-text {
  font-size: 18px;
  font-weight: bold;
}
.final-price {
  font-size: 18px;
  font-weight: bold;
  color: #ff0456;
}
.order-button {
  font-size: 18px;
  font-weight: bold;
  padding: 15px 30px;
  border-radius: 6px;
  color: #fff;
  background-color: #ff0456;
}

/**======================
 *   FINAL CONFIRMATION
 *========================**/
.final-confirmation-outer-container {
  width: 100%;
  height: 76px;
  position: fixed;
  bottom: 0;
  background-color: #ff1e69;
}
.final-confirmation-inner-container {
  display: flex;
  gap: 45px;
  align-items: center;
  justify-content: end;
  width: 1240px;
  height: 100%;
  margin: 0 auto;
  color: #fff;
}
.final-confirmation-price-outer {
  display: flex;
  align-items: center;
  gap: 15px;
}
.final-confirmation-price-1 {
  font-size: 18px;
}
.final-confirmation-price-2 {
  font-size: 24px;
  font-weight: bold;
}
.final-confirmation-quantity-outer {
  display: flex;
  gap: 10px;
  padding: 10px 30px;
  background-color: #fff;
  border-radius: 6px;
}
.final-confirmation-quantity-1 {
  font-size: 18px;
  font-weight: bold;
  line-height: 100%;
  padding-top: 5.5px;
  color: #000;
}
.final-confirmation-quantity-2-circle {
  height: 25px;
  width: 25px;
  background-color: #ff1e69;
  border-radius: 50%;
  display: inline-block;
}
.final-confirmation-quantity-2 {
  font-size: 18px;
  font-weight: bold;
  padding-top: 5.5px;
  text-align: center;
  color: #fff;
}

/**======================
 *     FOOTER
 *========================**/

footer {
  width: 100%;
}

.sites {
  width: 1240px;
  margin: 0 auto;
}

/**======================
 *    FOOTER
 *========================**/

#footer-title-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#footer-title-container > div > p {
  font-size: 14px;
  font-family: 'Noto Sans KR', 'Helvetica Neue', 'Apple SD Gothic Neo',
    '맑은 고딕', 'Malgun Gothic', 돋움, dotum, sans-serif;
}

#site-description {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/**======================
 *    FOOTER - 왼쪽 칸
 *========================**/

#footer-main {
  padding: 0 50px;
}

#footer-main > p {
  font-size: 12px;
  font-family: 'Noto Sans KR', 'Helvetica Neue', 'Apple SD Gothic Neo',
    '맑은 고딕', 'Malgun Gothic', 돋움, dotum, sans-serif;
}

#footer-image-container {
  display: flex;
  align-items: center;
}

/**======================
 *    FOOTER - 오른쪽 칸
 *========================**/

#footer-sub {
  padding: 0 50px;
}

#footer-sub > p {
  font-size: 12px;
  font-family: 'Noto Sans KR', 'Helvetica Neue', 'Apple SD Gothic Neo',
    '맑은 고딕', 'Malgun Gothic', 돋움, dotum, sans-serif;
}

/**======================
 *    FOOTER - 로고 이미지
 *========================**/

.footer-image {
  padding-top: 20px;
}
