@import url('../../commonCss/reset.css');
@import url('../../commonCss/header.css');
@import url('../../commonCss/footer.css');

/**======================
 *    Main - Profile
 *========================**/
main {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  min-height: 800px;
}
#profile-container {
  display: grid;
  grid-template-rows: 70px auto;
  width: 900px;
  height: 500px;
  font-weight: 600;
}

.profile-container-head {
  display: flex;
  align-items: end;
  padding-bottom: 10px;
  border-bottom: 3px solid #969696;
  font-size: 30px;
}

.profile-container-body {
  display: grid;
  height: 80%;
  grid-template-columns: 15% 20% 40% 15% 10%;
  margin-top: 20px;
  margin-left: 20px;
}

.profile-container-body > div:first-child {
  justify-self: center;
  align-self: center;
}

.profile-container-body > .profile-input-info {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: repeat(6, 16%);
}

.profile-container-body > .profile-input-container {
  display: grid;
  align-items: center;
  background-color: #fff;
  grid-template-rows: repeat(6, 16%);
  outline: none;
}

.profile-container-body > .profile-input-container > input {
  height: 30px;
  max-width: 90%;
  margin-left: 10px;
  border: 2px solid #ccc;
}

.profile-container-body > .profile-button-container {
  display: grid;
  align-items: center;
  grid-template-rows: repeat(6, 16%);
}

.profile-container-body > .profile-button-container > button {
  height: 30px;
  max-width: 50%;
  font-weight: 600;
}

.profile-container-body > .profile-button-container > button:last-child {
  grid-row-start: 6;
}

.change-btn {
  background-color: #969696;
  color: #f5f5f5;
  border: 1px solid #f5f5f5;
}

.change-btn:active {
  background-color: #f5f5f5;
  color: #969696;
  border: 1px solid #969696;
}

.profile-container-body > div:last-child {
  grid-template-rows: repeat(6, 16%);
  display: grid;
  align-items: end;
  justify-content: end;
}

.profile-container-body > div:last-child > .is-danger {
  grid-row-end: 7;
  align-self: center;
}
/* 정보 수정 전 비밀번호 확인 css */

.profile-container-body > .profile-button-container2 > button:first-child {
  grid-row-start: 1;
}

.check-password-btn {
  width: 60px;
  height: 35px;
  align-self: center;
}

.order-check-arrow {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
