<!doctype html>
<html>
    <head>
      <meta charset = "utf-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link rel="stylesheet" type="text/css" href="../css/index.css" />
    </head>
    <body>
        <main id = "main">
          <div class = "main-div">
            <img src = "../icon/elice.png" alt = "엘리스" width="250px"><span>회원가입</span>
          </div>
          <div id = "register-main-div">
            <div>
              <p id = "register-main-title-p">회원정보입력</p>
            </div>
            <div id = "register-description-div">
              <form method = "post" action = "/">
              <div class="field">
                <label class="label" style = "font-size:12px;">아이디</label>
                <div class = "register-id-div">
                <p class="control has-icons-left" style="flex-grow:1">
                  <input class="input" type="text" placeholder="사용자 아이디">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
                <button id = "duplicate-check" type = "button" class = "button">중복체크</button>
                </div>
              </div>
              <div class="field">
                <label class="label" style = "font-size:12px;">이메일</label>
                <p class="control has-icons-left">
                  <input class="input" type="email" placeholder="이메일">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <label class="label" style = "font-size:12px;">비밀번호</label>
                <p class="control has-icons-left">
                  <input class="input" type="password" placeholder="비밀번호는 8~20자">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <label class="label" style = "font-size:12px;">비밀번호 확인</label>
                <p class="control has-icons-left">
                  <input class="input" type="password" placeholder="비밀번호 확인">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <label class="label" style = "font-size:12px;">전화번호</label>
                <p class="control has-icons-left">
                  <input class="input" type="phonenumber" placeholder="-를 포함해주세요.">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <label class="label" style = "font-size:12px;">주소</label>
                <p class="control has-icons-left">
                  <input class="input" type="text" placeholder="상세하게 입력해주세요.">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>
              <div class="field" >
                <div class="control">
                  <label class="checkbox">
                    <input type="checkbox">
                    I agree to the <a href="#">terms and conditions</a>
                  </label>
                </div>
              </div>
              <div id = "register-submit-div">
                <button class = "button is-danger" type = "submit">확인</button>
                <button class = "button" type = "button">취소</button>
              </div>
              </form>
              </div> 
              </div>
        </main>
        <script src = "../js/index.js"></script>
    </body>
</html>