@import url('../../commonCss/reset.css');
@import url('../../commonCss/header.css');
@import url('../../commonCss/footer.css');

#main {
  width: 980px;
  margin: 30px auto;
}

.main-div {
  display: flex;
  align-items: center;
  font-size: 26px;
  font-family: 'Noto Sans KR', 'Helvetica Neue', 'Apple SD Gothic Neo',
    '맑은 고딕', 'Malgun Gothic', '돋움', dotum, sans-serif;
  border-bottom: 2px solid gray;
  margin: 20px auto;
}

.main-div > span {
  margin-left: 30px;
}

#register-main-div {
  border: 1px solid gray;
  border-radius: 30px;
  padding: 30px;
}
#register-main-title-p {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}

#register-description-div {
  margin-top: 10px;
}

#register-main-div {
  width: 980px;
  margin: 0 auto;
}

#duplicate-check {
  margin-left: 5px;
}

.register-id-div {
  display: flex;
  align-items: center;
}

#register-submit-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#register-submit-div > button {
  width: 80px;
  margin: 0 3px;
}

label {
  font-size: 12px;
}
