/**======================
 *    HEADER
 *========================**/
 header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #fff;
  }
  
  #header-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    max-width: 1240px;
    max-height: 120px;
  }
  
  /**======================
   *    HEADER - CategoryBtn
   *========================**/
  #category-btn {
    cursor: pointer;
    width: 60px;
    height: 60px;
    margin: 30px 0px 30px 12px;
    background-color: white;
    border: #f5f5f5;
    border-radius: 100%;
    box-shadow: 0px 2px 3px 0px;
  }
  
  #category-btn > img {
    max-width: 25px;
    max-height: 25px;
  }
  
  #category-btn:hover {
    background-color: #f5f5f5;
  }
  
  /**======================
   *    HEADER - CategoryList
   *========================**/
  .category-container {
    position: fixed;
    top:0;
    left: -300px;
    z-index: 300;
    width: 300px;
    height: 100%;
    background-color: #f5f5f5;
    font-size: 20px;
    transition: left .5s;
  }
  
  .category-container-clicked{
    left:0;
  }
  
  .category-container > .category-title{
    display: grid;
    grid-template-columns: 80% 20%;
    
    height: 80px;
    width: 100%;
    
    font-size: 30px;
    font-weight: 500;
    color: black;
    background-color: #fff;
  
  }
  
  .category-container > .category-title > span{
    margin: 20px 20px;
  
  }
  .category-container > .category-title > button{
    cursor: pointer;
    border-style: none;
    background-color: #fff;
  }
  
  .category-container > .category-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    width: 100%;
    height: 70px;
  
    font-size: 20px;
    font-weight: 600;
    line-height: 50px;
  
    border-bottom: 1px #f5f5f5 solid;
    background-color: #fff;
  }
  
  .category-container > .category-item > a{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    text-decoration: none;
    width: 100%;
    margin: 10px 0px 10px 30px;
    color: black;
  }
  
  .category-container > .category-item > a > img:first-child{
    width: 30px;
    height: 30px;
    margin-top: 10px;
  }
  
  .category-container > .category-item > a > img:last-child{
    width: 30px;
    height: 30px;
    margin-top: 10px;
  }
  
  .category-container > .category-item:hover{
    background-color: #f5f5f5;
  }
  
  /**======================
   *    HEADER - Logo
   *========================**/
  
  .header-logo {
    cursor: pointer;
    margin-left: 15px;
    margin-top: 39px;
    font-size: 36px;
    font-weight: 400px;
  }
  
  /**======================
   *    HEADER - SearchBar
   *========================**/
  #search-container {
    display: flex;
    width: 510px;
    height: 50px;
    margin: 36px 0px 34px 20px;
    border: #bebebe solid 1px;
    border-radius: 30px;
    background-color: #f5f5f5;
  }
  
  #search-container > .input {
    flex: 8.8;
    outline: none;
    height: 100%;
    border: none;
    border-radius: 30px 0px 0px 30px;
    font-size: 20px;
  }
  
  .search-btn > .input:focus {
    outline: none;
  }
  
  #search-container .search-btn {
    cursor: pointer;
    flex: 1.2;
    border-radius: 0px 30px 30px 0px;
  }
  
  .search-btn > img {
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-left: 5px;
  }
  
  /**======================
   *    HEADER - User, Cart
   *========================**/
  #button-container {
    display: flex;
    justify-content: flex-end;
    flex: 1;
  }
  
  #button-container button {
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin-right: 35px;
    border: none;
    align-self: center;
    background-color: #fff;
  }
  
  /**======================
   *          NAV
   *========================**/
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
  
    width: 100vw;
    height: 100vh;
    max-width: 1240px;
    max-height: 60px;
    
    border-top: 1px solid #f5f5f5;
    box-shadow: 0 3px 3px -3px #bebebe;
    font-size: 15px;
    font-weight: 600;
    color: black;
  }
  
  .nav-container div {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0 50px 0 50px;
  }
  
  .nav-container div:first-child {
    font-size: 20px;
  }
  

main{
    width:1240px;
    margin: 0 auto;

}

p{
    font-size:14px;
}
#main-div{
    display:flex;
    justify-content: center;
}

#item-color-div{
    display:flex;
    padding:20px;
    padding: 10px;
}

.item-main-image-container-div{
    display:flex;
    flex-direction: column;
    margin:auto auto;
    padding:20px;
}
.item-main-image-div{
    width:597px;
    height:497px;
    border-radius: 10px;
    
}

#item-sub-image-container-div{
    width:597px;
    height:140px;
}

#item-sub-images{
    padding:30px;
}

#item-sub-images > img{
    width:60px;
    height:60px;
    margin:0 5px;
    border:1px solid gray;
}

.item-description-div{
    width:643px;
    padding:20px;
}

#main-image{
    max-width:100%;
    height: 500px;
}

#item-name-div{
    display:flex;
    padding: 10px;
    align-items: center;
}

#item-name{
    flex-grow: 5;
    padding:0 20px;
}

.item-brand-div{
    padding: 10px;
    font-weight:bold;
}

#item-real-price{
    text-decoration: line-through;

}

.rate-div{
    display:flex;
}

#rate-point{

}

#rate-number{
    color:blue;
    padding-left: 10px;
    font-size:12px;
}

.item-price-div{
    padding: 10px;
}

.suggest-button{
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    width:40px;
    margin:0 5px;
    background-color: white;
    border:1px dotted gray;
}

.share-button{
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    width:40px;
    margin:0 5px;
    background-color: white;
    border:1px dotted gray;
}

button:hover{
    cursor:pointer;

}

.item-delivery-div{
    padding: 10px;
}

.item-number-div{
    display:flex;

}

#is-free{
    font-size:16px;
    color:green;
}

#item-number{
    border-radius:5px;
    border:1px solid gray;
}
.item-count-div{
    display:flex;
    flex-direction: column;
}

#up-button{
    border-radius:3px;
    border:1px solid gray;
}

#down-button{
    border-radius:3px;
    border:1px solid gray;
}

.rental-range-div{
    display:flex;
    padding: 20px;
    align-items:center;
}

.rental-range-button-div{
    display:flex;

}

.rental-range-button-div > button{
    border-radius: 30px;
    margin-left: 10px;
}

.benefits-div{
    padding: 10px;
}

.benefits-div > p{
    font-size:15px;
}

.buy-div{
    display:flex;
    padding: 10px;
    
}

.buy-div > button{
    margin-left: 10px;
}

.item-spec-div{
    padding: 10px;
}

.item-spec-div{
    font-size:12px;
}

.rate{
    background: url(https://aldo814.github.io/jobcloud/html/images/user/star_bg02.png)
     no-repeat;
     width: 121px;
     height: 20px;
     position: relative;
}

.rate span{
    position: absolute;
    background: url(https://aldo814.github.io/jobcloud/html/images/user/star02.png);
    width: auto;
    height: 20px;
}

#item-color-div{
    align-items: center;

}

#item-color-selected{
    width:30px;
    border: 1px solid black;
    border-radius:50%;
    aspect-ratio: 1 / 1;
    margin-left:20px;
}

.color-selected{
    background-color: yellow;
    border:3px solid green;
}

#item-color-selected:hover{
    cursor:pointer;
}

#item-selected-color{
    margin-left:auto;
    font-size:14px;
    margin-right: 10px;
}

#item-table{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

#item-delivery-description{
    font-size:12px;

}

td{
    font-size:13px;
}

/**======================
 *     FOOTER
 *========================**/

 footer {
    width: 100%;
  }
  
  .sites {
    width: 1240px;
    margin: 0 auto;
  }
  
  /**======================
   *    FOOTER
   *========================**/
  
  #footer-title-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  
  #footer-title-container > div > p {
    font-size: 14px;
    font-family: 'Noto Sans KR', 'Helvetica Neue', 'Apple SD Gothic Neo',
      '맑은 고딕', 'Malgun Gothic', 돋움, dotum, sans-serif;
  }
  
  #site-description {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /**======================
   *    FOOTER - 왼쪽 칸
   *========================**/
  
  #footer-main {
    padding: 0 50px;
  }
  
  #footer-main > p {
    font-size: 12px;
    font-family: 'Noto Sans KR', 'Helvetica Neue', 'Apple SD Gothic Neo',
      '맑은 고딕', 'Malgun Gothic', 돋움, dotum, sans-serif;
  }
  
  #footer-image-container {
    display: flex;
    align-items: center;
  }
  
  /**======================
   *    FOOTER - 오른쪽 칸
   *========================**/
  
  #footer-sub {
    padding: 0 50px;
  }
  
  #footer-sub > p {
    font-size: 12px;
    font-family: 'Noto Sans KR', 'Helvetica Neue', 'Apple SD Gothic Neo',
      '맑은 고딕', 'Malgun Gothic', 돋움, dotum, sans-serif;
  }
  
  /**======================
   *    FOOTER - 로고 이미지
   *========================**/
  
  .footer-image {
    padding-top: 20px;
  }
  