<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <title>상세페이지</title>
  </head>
  <body>
    <header>
      <div id="header-container">
        <span class="header-logo">TechMate</span>
        <div id="search-container"></div>
        <div id="button-container"></div>
      </div>
    </header>

    <!-- header navbar 영역 -->
    <nav>
      <div class="nav-container">
        <div>Hello Techmate</div>
        <div>로그인/회원가입</div>
      </div>
    </nav>

    <main class="main">
      <section class="main-section">
        <div id="main-div">
          <div class="item-main-image-container-div">
            <div class="item-main-image-div"></div>
            <div id="item-sub-image-container-div">
              <div id="item-sub-images"></div>
            </div>
          </div>
          <div class="item-description-div">
            <div class="item-brand-div">
              <p id="item-brand"></p>
              <div class="rate-div">
                <div class="rate">
                  <span id="rate-point" style="width: 90%"></span>
                </div>
                <span id="rate-number">230</span>
              </div>
            </div>
            <div id="item-color-div">
              <span style="font-weight: bold">색상선택</span>
              <span
                id="item-selected-color"
                style="font-size: 16px; font-weight: bold"
              ></span>
            </div>
            <div id="item-name-div">
              <span style="font-weight: bold">상품명</span>
              <p id="item-name"></p>
              <button class="suggest-button">
                <img src="../icon/heart.png" alt="하트 이미지" />
              </button>
              <button class="share-button">
                <img src="../icon/share.png" alt="공유 이미지" />
              </button>
            </div>
            <div class="item-price-div">
              <p id="item-intstallments-price">
                <span style="font-weight: bold; font-size: 16px"
                  >월 렌탈 판매가 :</span
                ><span id="item-month-rental-fee" style="color: red"></span>
              </p>
            </div>
            <div class="item-delivery-div">
              <p id="is-free"></p>
              <p id="item-delivery-description">
                2일 후 <span id="item-delivery-day">4/20</span> 새벽 7시 전 도착
                보장 (밤 12시 전 주문시)
              </p>
            </div>
            <div class="rental-range-div">
              <p style="font-weight: bold">렌탈 기간</p>
              <div class="rental-range-button-div">
                <button id="rental36month" class="button is-rounded">
                  36개월
                </button>
                <button id="rental48month" class="button is-rounded">
                  48개월
                </button>
                <button id="rental60month" class="button is-rounded">
                  60개월
                </button>
              </div>
            </div>
            <div class="benefits-div">
              <p>15팀 결제시 99 % 적립</p>
              <p>[엘리스를 통한] 결제 시 50% 적립</p>
              <p>[쿠팡 + 11번가] 결제 시 20% 추가적립</p>
            </div>
            <div class="buy-div">
              <div class="item-number-div">
                <input
                  type="text"
                  value="1"
                  size="3"
                  maxlength="4"
                  id="item-number"
                  readonly
                />
                <div class="item-count-div">
                  <button type="button" id="up-button">+</button>
                  <button type="button" id="down-button">-</button>
                </div>
              </div>
              <a href="../../cartPage/html/index.html">
                <button id="add-bucket" class="button is-success is-outlined">
                  장바구니 담기
                </button>
              </a>
              <a href="../../orderPage/html/index.html">
                <button id="current-buy" class="button is-success is-outlined">
                  바로 구매하기
                </button>
              </a>
            </div>
            <div class="item-spec-div">
              <p>상품명 :<span id="item-spec-div-name"></span></p>
              <p>모델명 :<span id="item-spec-div-model"></span></p>
              <p>브랜드 :<span id="item-spec-div-brand"></span></p>
              <p>에너지효율등급 : <span id="item-spec-div-energy"></span></p>
            </div>
          </div>
        </div>

        <div id="item-table">
          <table class="table is-fullwidth">
            <th style="font-size: 18px">상품 세부 정보</th>
            <tr>
              <td style="font-weight: bold">상품명</td>
              <td id="item-table-item-name"></td>
              <td style="font-weight: bold">색상</td>
              <td id="item-table-item-color"></td>
            </tr>
            <tr>
              <td style="font-weight: bold">모델명</td>
              <td id="item-table-item-model"></td>
              <td style="font-weight: bold">판매자</td>
              <td id="item-table-item-seller"></td>
            </tr>
            <tr>
              <td style="font-weight: bold">브랜드</td>
              <td id="item-table-item-brand"></td>
              <td style="font-weight: bold">사이즈</td>
              <td id="item-table-item-size"></td>
            </tr>
            <tr>
              <td style="font-weight: bold">카테고리</td>
              <td id="item-table-item-categorie"></td>
              <td style="font-weight: bold">에너지효율등급</td>
              <td id="item-table-item-energy"></td>
            </tr>
          </table>
        </div>
      </section>
    </main>

    <footer id="footer">
      <!-- 맨 위에 일직선 타이틀 부분 -->
      <div id="footer-title-container">
        <div>
          <p>15팀 소개</p>
        </div>
        <div>
          <p>채용정보</p>
        </div>
        <div>
          <p>이용약관</p>
        </div>
        <div>
          <p>전자금융거래약관</p>
        </div>
        <div>
          <p>개인정보처리방침</p>
        </div>
        <div>
          <p>광고안내</p>
        </div>
      </div>

      <!-- 밑의 2개로 나눠진 부분의 총합 -->
      <div id="site-description" class="sites">
        <!-- 왼쪽 설명 칸 -->
        <div id="footer-main">
          <p style="font-size: 14px">15팀(주)</p>
          <br />
          <p>
            대표직원 : ***, ***, ***, ***, ***, 주소 : 대한민국 엘리스
            Tel:2627-4744
          </p>
          <p>
            사업자등록번호 : 337-37-374854, 통신판매업신고 : 2023-엘리스-2342
            사업자정보확인
          </p>
          <p>
            엘리스 15팀(주)은 통신판매중개자로서 엘리스 15팀의 거래당사자가
            아니며, 입점판매자가 등록한 상품정보 및 거래에 대해 엘리스(주)는
            일체 책임을 지지 않습니다.
          </p>
          <br />
          <p>Copyright © 2018 15팀 Co.,Ltd. All Rights Reserved.</p>

          <div id="footer-image-container">
            <div class="footer-image">
              <img src="../icon/elice.png" width="116px" alt="엘리스" />
            </div>
          </div>
        </div>
        <!-- 오른쪽 설명칸 -->
        <div id="footer-sub">
          <p style="font-size: 14px">
            고객센터 <span style="color: red">1599-1234</span> (유료)
          </p>
          <br />
          <p>08378) 서울특별시 엘리스 성수동</p>
          <p>Fax : 013-262-1234 / E-mail : customerservice@15st.co.kr</p>
          <br />
          <p style="font-size: 14px">전자금융거래분쟁담당</p>
          <br />
          <p>Tel : 1599-1234 / Fax : 031-441-1234</p>
          <p>E-mail : customerservice@15st.co.kr</p>
        </div>
      </div>
    </footer>

    <script type="module" src="../js/setLocalStorage.js"></script>
    <!-- <script src="../js/index.js" type="module"></script> -->
    <!-- <script src="../js/api.js"></script> -->
  </body>
</html>
