<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../../commonCss/footer.css" />
  </head>
  <body>
    <header>
      <div id="header-container">
        <span class="header-logo">TechMate</span>
        <div id="search-container"></div>
        <div id="button-container"></div>
      </div>
    </header>

    <!-- header navbar 영역 -->
    <nav>
      <div class="nav-container">
        <div>Hello Techmate</div>
        <div>로그인/회원가입</div>
      </div>
    </nav>

    <main class="main">
      <section class="main-section">
        <div id="main-div">
          <div class="item-main-image-container-div">
            <div class="item-main-image-div"></div>
            <div id="item-sub-image-container-div">
              <div id="item-sub-images"></div>
            </div>
          </div>
          <div class="item-description-div">
            <div class="item-brand-div">
              <p id="item-brand"></p>
              <div class="rate-div">
                <div class="rate">
                  <span id="rate-point" style="width: 90%"></span>
                </div>
                <span id="rate-number">230</span>
              </div>
            </div>
            <div id="item-color-div">
              <span style="font-weight: bold">색상선택</span>
              <span id="item-selected-color">화이트</span>
            </div>
            <div id="item-name-div">
              <span style="font-weight: bold">상품명</span>
              <p id="item-name"></p>
              <button class="suggest-button">
                <img src="../icon/heart.png" alt="하트 이미지" />
              </button>
              <button class="share-button">
                <img src="../icon/share.png" alt="공유 이미지" />
              </button>
            </div>
            <div class="item-price-div">
              <p id="item-intstallments-price">
                <span style="font-weight: bold; font-size: 16px"
                  >월 렌탈 판매가 :</span
                ><span id="item-month-rental-fee" style="color: red"></span>
              </p>
            </div>
            <div class="item-delivery-div">
              <p id="is-free"></p>
              <p id="item-delivery-description">
                내일 (목) 4/20 새벽 7시 전 도착 보장 (밤 12시 전 주문시)
              </p>
            </div>
            <div class="rental-range-div">
              <p style="font-weight: bold">렌탈 기간</p>
              <div class="rental-range-button-div">
                <button class="button is-rounded">36개월</button>
                <button class="button is-rounded">48개월</button>
                <button class="button is-rounded">60개월</button>
              </div>
            </div>
            <div class="benefits-div">
              <p>15팀 결제시 99 % 적립</p>
              <p>[엘리스를 통한] 결제 시 50% 적립</p>
              <p>[쿠팡 + 11번가] 결제 시 20% 추가적립</p>
            </div>
            <div class="buy-div">
              <div class="item-number-div">
                <input
                  type="text"
                  value="1"
                  size="3"
                  maxlength="4"
                  id="item-number"
                  readonly
                />
                <div class="item-count-div">
                  <button type="button" id="up-button">+</button>
                  <button type="button" id="down-button">-</button>
                </div>
              </div>
              <button id="add-bucket" class="button is-success is-outlined">
                장바구니 담기
              </button>
              <button id="current-buy" class="button is-success is-outlined">
                바로 구매하기
              </button>
            </div>

            <div class="item-spec-div">
              <p>상품명 <span>[삼성] 건조기 9kg (빠른배송) 렌탈</span></p>
              <p>모델명 <span>DV90TA040KE</span></p>
              <p>브랜드 <span>삼성</span></p>
              <p>에너지효율등급 <span>2등급</span></p>
            </div>
          </div>
        </div>

        <div id="item-table">
          <table class="table is-fullwidth">
            <th style="font-size: 18px">상품 세부 정보</th>
            <tr>
              <td style="font-weight: bold">상품명</td>
              <td>상품명입력</td>
              <td style="font-weight: bold">색상</td>
              <td>상품명입력</td>
            </tr>
            <tr>
              <td style="font-weight: bold">모델명</td>
              <td>상품명입력</td>
              <td style="font-weight: bold">판매자</td>
              <td>상품명입력</td>
            </tr>
            <tr>
              <td style="font-weight: bold">브랜드</td>
              <td>상품명입력</td>
              <td style="font-weight: bold">사이즈</td>
              <td>사이즈</td>
            </tr>
            <tr>
              <td style="font-weight: bold">카테고리</td>
              <td>categorie</td>
              <td style="font-weight: bold">에너지효율등급</td>
              <td>2등급</td>
            </tr>
          </table>
        </div>
      </section>
    </main>
    <footer id="footer-container">
    </footer>
    <script src="../js/index.js" type="module"></script>
    <script src="../js/api.js"></script>
  </body>
</html>
