<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>main page</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link rel="stylesheet" href="./main.css" />
  </head>
  <body>
    <header>
      <div class="header-container">
        <button id="category-btn">
          <img src="../icon/menu.png" alt="category icon"/>
        </button>
        <span class="logo">TechMate</span>
        <div class="search-container">
          <input class="input" type="text" placeholder="상품을 검색하세요"/>
          <div class="search-btn">
            <img src="../icon/free-icon-magnifier-2866321.png" alt="search icon"/>
          </div>
        </div>
        <div class="button-container">
          <button class="user-btn">
            <img src="../icon/free-icon-user-747376.png" alt="user icon"/>
          </button>
          <button class="cart-btn">
            <img src="../icon/free-icon-add-cart-8122483.png" alt="cart icon"/>
          </button>
        </div>
      <div>
        </div>
      </div>
    </header>
    <nav>
      <div class="nav-container">
        <div>Hello Techmate</div>
        <div>로그인/회원가입</div>
      </div>
    </nav>
    <main>
      <div class="body-container">
        <div id="main-category-container"></div>
      </div>
    </main>
    <footer></footer>
  </body>
  <script src ="main.js" type="module"></script>
  <script src="../header/categoryList/categoryBar.js" type="module"></script>
  <script src="../header/categoryList/categoryBtn.js" type="module"></script>
  </html>
