/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
  justify-content: center;
  align-items: center;
  margin: 0;
}

/* header css */
header{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
}

.header-container{
  display: flex;
  width: 100vw;
  height: 100vh;
  max-width: 1240px;
  max-height: 120px;
  z-index: 2;
}

#category-btn{
  cursor: pointer;
  width: 60px;
  height: 60px;
  margin: 30px 0px 30px 12px;
  background-color: white;
  border: #f5f5f5;
  border-radius: 100%;
  box-shadow: 0px 2px 3px 0px;
}

#category-btn > img{
  max-width: 25px;
  max-height: 25px;
}

#category-btn:hover{
  background-color: #f5f5f5;
}

.category-container{
  width: 300px;
  height: 927px;
  background-color: rgb(125, 127, 130);
  font-size: 20px;
  z-index: 3;
}

.logo{
  cursor: pointer;
  margin-left:15px;
  margin-top: 39px;
  font-size: 36px;
  font-weight: 400px;
}

.search-container{
  display: flex;
  width: 510px;
  height: 50px;
  margin: 36px 0px 34px 20px;
  border: #bebebe solid 1px;
  border-radius: 30px;
  background-color: #f5f5f5;
}

.search-container > .input{
  flex: 8.8;
  outline: none;
  height: 100%;
  border: none;
  border-radius: 30px 0px 0px 30px;
  font-size: 20px;
}

.search-btn > .input:focus{
  outline: none;
}

.search-container .search-btn{
  cursor: pointer;
  flex: 1.2;
  border-radius: 0px 30px 30px 0px;
}

.search-btn > img{
  width: 40px;
  height: 40px;
  margin-top: 5px;
  margin-left: 5px;
}

.button-container{
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.button-container button{
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin-right: 35px;
  border: none;
  align-self: center;
  background-color: #fff;
}

/* nav css */
nav{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
}

.nav-container{
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  max-width: 1240px;
  max-height: 60px;
  border-top: 1px solid #bebebe;
  font-size: 15px;
  font-weight: 600;
  color: black;

}

.nav-container div{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 50px 0 69px;
}

.nav-container div:first-child{
  cursor: alias;
  font-size: 20px;
}

/* main css */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
}

.body-container {
  display: flex-box;
  width: 100vw;
  height: 100vh;
  max-width: 1240px;
  max-height: 127px;

  align-items: center;
  justify-content: center;
  background-color: #bebebe;
  z-index: 0;
}

#main-category-container {
  display: flex;
  height: 100%;
  margin: 0 100px;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
}

.main-category {
  height: 127px;
  width: 90px;
  border-radius: 100%;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
}

.main-category > a {
  text-decoration: none;
  color: black;
}

.main-category > a > img {
  max-width: 80px;
  max-height: 80px;
  margin: 10px 0 5px 0;
}

.main-category:hover {
  transform: scale(1.1); /*  default */
  -webkit-transform: scale(1.1); /*  크롬 */
  -moz-transform: scale(1.1); /* FireFox */
  -o-transform: scale(1.1); /*Opera*/
}
