/**======================
 *    HEADER
 *========================**/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#header-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  max-width: 1240px;
  max-height: 120px;
}

/**======================
 *    HEADER - CategoryBtn
 *========================**/
#category-btn {
  cursor: pointer;
  width: 60px;
  height: 60px;
  margin: 30px 0px 30px 12px;
  background-color: white;
  border: #f5f5f5;
  border-radius: 100%;
  box-shadow: 0px 2px 3px 0px;
}

#category-btn > img {
  max-width: 25px;
  max-height: 25px;
}

#category-btn:hover {
  background-color: #f5f5f5;
}

/**======================
 *    HEADER - CategoryList
 *========================**/
.category-container {
  position: fixed;
  top:0;
  left: -300px;
  z-index: 300;
  width: 300px;
  height: 100%;
  background-color: #f5f5f5;
  font-size: 20px;
  transition: left .5s;
}

.category-container-clicked{
  left:0;
}

.category-container > .category-title{
  display: grid;
  grid-template-columns: 80% 20%;
  
  height: 80px;
  width: 100%;
  
  font-size: 30px;
  font-weight: 500;
  color: black;
  background-color: #fff;

}

.category-container > .category-title > span{
  margin: 20px 20px;

}
.category-container > .category-title > button{
  cursor: pointer;
  border-style: none;
  background-color: #fff;
}

.category-container > .category-item{
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 70px;

  font-size: 20px;
  font-weight: 600;
  line-height: 50px;

  border-bottom: 1px #f5f5f5 solid;
  background-color: #fff;
}

.category-container > .category-item > a{
  display: grid;
  grid-template-columns: 20% 60% 20%;
  text-decoration: none;
  width: 100%;
  margin: 10px 0px 10px 30px;
  color: black;
}

.category-container > .category-item > a > img:first-child{
  width: 30px;
  height: 30px;
  margin-top: 10px;
}

.category-container > .category-item > a > img:last-child{
  width: 30px;
  height: 30px;
  margin-top: 10px;
}

.category-container > .category-item:hover{
  background-color: #f5f5f5;
}

/**======================
 *    HEADER - Logo
 *========================**/

.header-logo {
  cursor: pointer;
  margin-left: 15px;
  margin-top: 39px;
  font-size: 36px;
  font-weight: 400px;
}

/**======================
 *    HEADER - SearchBar
 *========================**/
#search-container {
  display: flex;
  width: 510px;
  height: 50px;
  margin: 36px 0px 34px 20px;
  border: #bebebe solid 1px;
  border-radius: 30px;
  background-color: #f5f5f5;
}

#search-container > .input {
  flex: 8.8;
  outline: none;
  height: 100%;
  border: none;
  border-radius: 30px 0px 0px 30px;
  font-size: 20px;
}

.search-btn > .input:focus {
  outline: none;
}

#search-container .search-btn {
  cursor: pointer;
  flex: 1.2;
  border-radius: 0px 30px 30px 0px;
}

.search-btn > img {
  width: 40px;
  height: 40px;
  margin-top: 5px;
  margin-left: 5px;
}

/**======================
 *    HEADER - User, Cart
 *========================**/
#button-container {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

#button-container button {
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin-right: 35px;
  border: none;
  align-self: center;
  background-color: #fff;
}

/**======================
 *          NAV
 *========================**/
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  max-width: 1240px;
  max-height: 60px;
  border-top: 1px solid #bebebe;
  font-size: 15px;
  font-weight: 600;
  color: black;
}

.nav-container div {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 50px 0 69px;
}

.nav-container div:first-child {
  font-size: 20px;
}

/**======================
 *         MAIN
 *========================**/
main {
  width: 1240px;
  margin: 0 auto;
}

/**======================
 *        BANNER
 *========================**/

/* 바깥쪽 */
.main-wide-billboard {
  width: 100%;
  height: 400px;
  background-color: #586471;
  transition: background-color 300ms ease-in-out 0s;
  margin-bottom: 50px;
}

/* 안쪽 */
.main-narrow-billboard {
  width: 1240px;
  height: 400px;
  margin: 0 auto;
}

/* 이미지 */
.main-narrow-billboard > img {
  width: 100%;
  opacity: 1;
  transition: all 100ms ease-in-out 0s;
}

/**======================
 *    Main - Category
 *========================**/
.body-container {
  display: flex-box;
  width: 100vw;
  height: 100vh;
  max-width: 1240px;
  max-height: 127px;
  margin-bottom: 35px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

#main-category-container {
  display: flex;
  height: 100%;
  margin: 0 100px;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
}

.main-category {
  height: 127px;
  width: 90px;
  border-radius: 100%;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
}

.main-category > a {
  text-decoration: none;
  color: black;
}

.main-category > a > img {
  max-width: 80px;
  max-height: 80px;
  margin: 10px 0 5px 0;
}

.main-category:hover {
  transform: scale(1.1); /*  default */
  -webkit-transform: scale(1.1); /*  크롬 */
  -moz-transform: scale(1.1); /* FireFox */
  -o-transform: scale(1.1); /*Opera*/
}

/**====================================
 *        RECOMMENDED PRODUCTS
 *======================================**/

.recommended-products-outer-container {
  margin-bottom: 30vh;
}

.recommended-products-letter {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
}

.recommended-products-inner-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.recommended-products-inner-container img {
  width: 100%;
}

.recommended-product-1,
.recommended-product-6 {
  width: 608px;
  height: 310px;
}

.recommended-product-2,
.recommended-product-3,
.recommended-product-4,
.recommended-product-5 {
  width: 292px;
  height: 310px;
}

/**======================
 *     FOOTER
 *========================**/

footer {
  width: 100%;
}

.sites {
  width: 1240px;
  margin: 0 auto;
}

/**======================
 *    FOOTER
 *========================**/

#footer-title-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#footer-title-container > div > p {
  font-size: 14px;
  font-family: 'Noto Sans KR', 'Helvetica Neue', 'Apple SD Gothic Neo',
    '맑은 고딕', 'Malgun Gothic', 돋움, dotum, sans-serif;
}

#site-description {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/**======================
 *    FOOTER - 왼쪽 칸
 *========================**/

#footer-main {
  padding: 0 50px;
}

#footer-main > p {
  font-size: 12px;
  font-family: 'Noto Sans KR', 'Helvetica Neue', 'Apple SD Gothic Neo',
    '맑은 고딕', 'Malgun Gothic', 돋움, dotum, sans-serif;
}

#footer-image-container {
  display: flex;
  align-items: center;
}

/**======================
 *    FOOTER - 오른쪽 칸
 *========================**/

#footer-sub {
  padding: 0 50px;
}

#footer-sub > p {
  font-size: 12px;
  font-family: 'Noto Sans KR', 'Helvetica Neue', 'Apple SD Gothic Neo',
    '맑은 고딕', 'Malgun Gothic', 돋움, dotum, sans-serif;
}

/**======================
 *    FOOTER - 로고 이미지
 *========================**/

.footer-image {
  padding-top: 20px;
}
