/* 바깥쪽 */
.main-wide-billboard {
  width: 100%;
  height: 400px;
  background-color: #0f1021;
  transition: backgroudColor 0.15s ease-in-out;
}

/* 안쪽 */
.main-narrow-billboard {
  width: 1240px;
  height: 400px;
  margin: 0 auto;
}

/* 이미지 */
.main-narrow-billboard > img {
  width: 100%;
  opacity: 1;
  transition: opacity 0.15s ease-in-out;
}
