@import url('../../commonCss/reset.css');
@import url('../../commonCss/header.css');
@import url('../../commonCss/footer.css');

/**======================
 *         MAIN
 *========================**/
main {
  width: 1240px;
  margin: 0 auto;
}

/**======================
 *        BANNER
 *========================**/

/* 바깥쪽 */
.main-wide-billboard {
  width: 100%;
  height: 400px;
  background-color: #586471;
  transition: background-color 300ms ease-in-out 0s;
  margin-bottom: 50px;
}

/* 안쪽 */
.main-narrow-billboard {
  width: 1240px;
  height: 400px;
  margin: 0 auto;
}

/* 이미지 */
.main-narrow-billboard > img {
  width: 100%;
  opacity: 1;
  transition: all 100ms ease-in-out 0s;
}

/**======================
 *    Main - Category
 *========================**/
.body-container {
  display: flex-box;
  width: 100vw;
  height: 100vh;
  max-width: 1240px;
  max-height: 127px;
  margin: 35px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

#main-category-container {
  display: flex;
  height: 100%;
  margin: 0 200px;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
}

.main-category {
  height: 130px;
  width: 130px;
  border-radius: 80%;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  box-shadow: 2px 5px 7px -3px #bebebe;
}

.main-category > a {
  display: grid;
  grid-template-rows: 90% 10%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}

.main-category > a > img {
  justify-self: center;
  align-self: center;
  max-width: 70px;
  max-height: 70px;
  margin: 10px 0 15px 0;
  padding: 5px;
}

.main-category:hover {
  transform: scale(1.1); /*  default */
  -webkit-transform: scale(1.1); /*  크롬 */
  -moz-transform: scale(1.1); /* FireFox */
  -o-transform: scale(1.1); /*Opera*/
}

.box-none {
  /* visibility: hidden; */
  display: none;
}

/**====================================
 *        RECOMMENDED PRODUCTS
 *======================================**/

.recommended-products-outer-container {
  margin-bottom: 30vh;
}

.recommended-products-letter {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
}

.recommended-products-inner-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.recommended-products-inner-container img {
  width: 100%;
}

.recommended-product-1,
.recommended-product-6 {
  width: 608px;
  height: 310px;
}

.recommended-product-2,
.recommended-product-3,
.recommended-product-4,
.recommended-product-5 {
  width: 292px;
  height: 310px;
}

/**======================
 *     FOOTER
 *========================**/

footer {
  width: 100%;
}

.sites {
  width: 1240px;
  margin: 0 auto;
}
