/**======================
 *        MAIN 
 *========================**/

#main-container{
    display: grid;
    grid-template-rows: 48px auto;
    grid-template-columns: 20px 1200px 20px;

    width: 100vw;
    height: 100vh;
    max-width: 1240px;
    background-color: #f5f5f5;
}

/**=======================
 *  MAIN-CategorySelector 
 *========================**/

 .category-selector{
    display: grid;
    grid-template-columns: 5% 5% 1% 9% 1% auto;

    align-items: center;
    grid-column-start: 1;
    grid-column-end: 4;
    
    background-color: #fff;
    color: #999;
 }

 .icon-text{
    cursor: pointer;
    margin-top: 3px;
    grid-column-start: 2;
    font-size: 13px;
 }


 .home-icon > img{
    margin-right: 5px;
    width: 13px;
    height: 13px;
 }

 .category-selector > img {
    margin-top: 5px;
    width: 10px;
    height: 10px;
 }

select{
    width: 96px;
    height: 25px;
    padding: .2em .3em; 
    margin-top: 5px;
    margin-left: 5px;
    border: 1px #999 solid;
    font-size: 12px;
}

select::-ms-expand {
    display: none;
}

/**=======================
 *  MAIN-ProductList
 *========================**/
.product-list-container{
    grid-column-start: 1;
    grid-column-end: 4;

    display: grid;
    grid-template-columns: 20px auto 20px;
    grid-template-rows: 60px auto;

    background-color: #fff;
}

 .product-list-top{
    grid-column-start: 2;
    border-bottom: 1px solid #999;;
    background-color: #fff;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 600;
}

 .product-list-top > span{
    margin-left: 40px;
 }

.product-list{
    grid-column-start: 2;
    grid-row-start: 2;
}

.product-container{
    display: grid;
    grid-template-columns: 28px 160px auto 160px 28px 160px 80px;   

    width: 100%;
    height:160px;
    border-bottom: 1px solid #bebebe;
    background-color: #fff;
}

.product-container > div{
    display: flex;
}

.product-container > .product-image{
    justify-content: center;
    align-items: center;
    grid-column-start: 2;
}

.product-container > .product-image > img{
    max-width: 150px;
    max-height: 150px;
}

.product-container > .product-name{
    grid-column-start: 3;
    border-right: 1px solid #bebebe;
}

.product-container > .product-price{
    grid-column-start: 4;

}

.product-container > .product-brand{
    grid-column-start: 6;
    border-left: 1px solid #bebebe;
}

.product-container span{
    margin: 15px 0 0 15px;
    font-weight: 600;
}
