<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>banner</title>
  </head>
  <body>
    <!-- 배너 -->
    <div class="main-billboard">
      <!-- 바깥쪽 베너 -->
      <div class="main-wide-billboard">
        <!-- 안쪽 베너 -->
        <div class="main-narrow-billboard">
          <img src="../images/001.jpg" alt="one.jpeg" />
        </div>
      </div>
    </div>
    <main>
      <!-- 추천 상품 -->
      <div class="recommended-products-outer-container">
        <div class="recommended-products">
          <p class="recommended-products-letter">추천 상품</p>
        </div>
        <div class="recommended-products-inner-container">
          <!-- 추후 컴포넌트 가능할 듯 -->
          <div class="recommended-product-1">
            <img src="../images/recommended-product-1.png" alt="" />
          </div>
          <div class="recommended-product-2">
            <img src="../images/recommended-product-2.png" alt="" />
          </div>
          <div class="recommended-product-3">
            <img src="../images/recommended-product-3.png" alt="" />
          </div>
          <div class="recommended-product-4">
            <img src="../images/recommended-product-4.png" alt="" />
          </div>
          <div class="recommended-product-5">
            <img src="../images/recommended-product-5.png" alt="" />
          </div>
          <div class="recommended-product-6">
            <img src="../images/recommended-product-6.jpeg" alt="" />
          </div>
        </div>
      </div>
    </main>
    <script src="../js/index.js"></script>
  </body>
</html>
